/* --------------Fab5 ----------------*/

#background {
    background-image: url("../Content/img/sunset.png");
    background-position: center bottom;
    background-repeat: repeat;
    background-size: cover;
    position: relative;
    width: 100%;
    padding-top: 100px;
    min-height: 800px;
    margin: 0 auto;
    z-index: 1;
}

#background2 {
    background-image: url("../Content/img/daytimeBackground.png");
    background-position: center bottom;
    background-repeat: repeat;
    background-size: cover;
    position: relative;
    width: 100%;
    min-height: 800px;
    padding-top: 100px;
    margin: 0 auto;
    z-index: 1;
}

#background3 {
    background-position: center bottom;
    background-repeat: repeat;
    background-size: cover;
    position: relative;
    width: 100%;
    min-height: 800px;
    padding-top: 100px;
    margin: 0 auto;
    z-index: 1;
    opacity: 0.75;
    background-image: url("../Content/img/nightimeBackground.png");
}



body {
    background: #3f3f3f;
    padding-bottom: 20px;
    padding-top: 80px;
    font-family: 'Ubuntu', sans-serif;
    overflow-x: hidden;
}

h1 {
    font-family: Catamaran;
    font-size: 60px;
    font-weight: 800;
}

.student-header {
    padding-top: 10px;
    font-size: 5.9vw;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 0px;
    padding-right: 0px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* Set items in a div */
.div-center {
    display: inline-block;
    float: none;
}

#clock {
    display: flex;
    display: -webkit-flex;
    margin-top: 20px;
    width: 400px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 80px;
    color: white;
}

.unit {
    height: 100%;
    text-align: center;
    width: 35%;
    color: white;
}

.masthead {
    min-height: 30rem;
    display: block;
    width: 100%;
    height: 550px;
    padding-top: 20rem;
    padding-bottom: 20rem;
    background: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)), url("../Content/img/headerbg.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    text-align: center;
}

#studentnavicons {

    position: absolute;
    left: 50%;
    top: 12%;
    font-size: calc(1.3vw + 1.3vh);
    transform: translate(-50%);
}

#studentnavicons a {
    font-size: calc(2vw + 2vh);
    margin-left: 10px;
}

.student-text-medium {
    margin-top: 5%;
    font-size: 3.5vh;
}

.student-text-small {
    margin-top: 3%;
    font-size: 2.0vh;
}

#wireframe-student {
    position: relative;
    margin-top: 100px;
    margin-bottom: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto
}


#studentnaviconstext {
    position: relative;
    text-align:right;
    margin-right: 20px;
    top:-700px;
    font-size: 16px;
}

.container-full {
    width:100%;
    margin: 0 auto;
}

.student-index {
    background: #fefbd8;
    background-size: cover;
}

.nav > li > a {
    padding-top: 30px;
    padding-bottom: 30px;
}

a.navbar-brand {
    background: url(../Content/img/sitelogo.png) no-repeat;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    margin-top: 15px;
    margin-right: 20px;
    display: block;
    width: 50px;
    height: 50px;
    text-indent: -9999px; /* hides the link text */
}

.intro {
    padding-top: 50px;
    padding-bottom: 50px;
    width: 100%;
    background-color: #d7d8d9;
    margin: auto;
    height: auto;
}

.btn-primary {
    color: #fff;
}

.btn.btn-primary{
    color: #fff;
}

.banner {
    background: url(../Content/img/adminBackground.png);
    width: 100%;
    margin: auto;
    padding-top: 70px;
    padding-bottom: 70px;
    height: auto;
}

.banner hr {
    border-color: #F05F40;
    border-width: 3px;
    max-width: 200px;
}

.form p {
    color: white;
}

.navbar-default {
    background-color: #add3d9;
    font-size: 20px;
    color: white;
}

.navbar-default .navbar-nav > li > a {
        color: #fff; /*Sets the text hover color on navbar*/
}

.footer {
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    line-height: 60px; /* Vertically center the text there */
    background-color: #21d192;
}

.footer a {
    color: #fff;
}

#avatar {
    border: 10px solid white;
    border-radius: 200px;
    padding: 10px;
    width: 70%;
    height: auto;
}

#avatar-white {
    border: 4px solid white;
    border-radius: 150px;
    padding: 5px;
}

#avatar-green {
    border: 4px solid #6dff08;
    border-radius: 150px;
    padding: 5px;
}


#listusers {
    overflow-x: hidden;
    max-width: 100%;
    min-height: 550px;
    columns: 100px 4;

}

#listusers a {
    color: white;
    font-size: 15px;
    text-align: center;
}

#avatarsidebar {
    height: 470px;
    margin-bottom: 30px;
}

.kiosk {
    opacity: 0.7;
    filter: alpha(opacity=70);
    background: #3e4444;
    border-radius: 20px;
    box-shadow: 0 4px 10px 4px rgba(62, 68, 68, .3);
    color: white;
    padding: 20px;
    color: white;
}

.kiosk h1{
    color: white;
}

.kiosk h2 {
        color: white;
        font-size: 50px;
        font-family: 'Ubuntu', sans-serif;
}

.road {
    background: rgb(138,138,138);
    background: linear-gradient(180deg, rgba(138,138,138,1) 0%, rgba(162,162,162,1) 50%, rgba(138,138,138,1) 100%);
    height: 120px;
    border-top: 5px solid white;
    border-bottom: 5px solid white;
}

.road hr {
    vertical-align: middle;
    border-bottom: 10px dashed white;
    padding-top: 50px;
    margin-top:0px;
    margin-bottom:0px;
}

.kioskbtn {
    font-size: 40px;
    margin-bottom:40px;
}