
@{
    ViewBag.Title = "Student Portal";
}

<head>
    <link rel="stylesheet" type="text/css" href="~/Content/Login.css" />
   
</head>

<div id="container">
    <h2>WELCOME TO STUDENT PORTAL</h2>
    <div class="row text-center">
        <div class="col-md-6">
            <div>
                <a href="~/Student/Report">
                    <img src="~/Content/img/ReportPicture.png" class="center">
                    <br />
                    <span style="display: block; text-align: center; font-size:3em; color: #fff">
                        View Reports
                    </span>
                </a>
            </div>

        </div>
        <div class="col-md-6">
            <a href="~/Student/Default">
                <img src="~/Content/img/GameIcon.png" class="center">
                <br />
                <span style="display: block; text-align: center; font-size:3em; color: #fff">
                    Play Game
                </span>
            </a>
        </div>
        </div>
    </div>
