
@{
    ViewBag.Title = "Community";
}

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="~/Content/Login.css" />
<link rel="stylesheet" type="text/css" href="~/Content/Site.css" />

<script>
    (function ($) {
        $(window).load(function () {

            $("#content-1").mCustomScrollbar({
                axis: "yx", //set both axis scrollbars
                advanced: { autoExpandHorizontalScroll: true }, //auto-expand content to accommodate floated elements
                // change mouse-wheel axis on-the-fly
                callbacks: {
                    onOverflowY: function () {
                        var opt = $(this).data("mCS").opt;
                        if (opt.mouseWheel.axis !== "y") opt.mouseWheel.axis = "y";
                    },
                    onOverflowX: function () {
                        var opt = $(this).data("mCS").opt;
                        if (opt.mouseWheel.axis !== "x") opt.mouseWheel.axis = "x";
                    },
                }
            });

        });
    })(jQuery);
</script>

<div id="background">
    <div class="row text-center">
        <h1 class="student-header" align="center">Community</h1>

        <p class="student-text-medium">Visit friends!</p>
        <p class="student-text-small">Total coins: 434</p>
        <div id="studentnavicons">
            <a href="~/Student/Default" title="Store"><i class="fas fa-store-alt" style="color:#7a553b"></i></a>
            <a href="~/Student/Community" title="Community"><i class="fas fa-map-signs" style="color:#7a553b"></i></a>
            <a href="~/Student/Market" title="Marketplace"><i class="fas fa-shopping-cart" style="color:#7a553b"></i></a>
            <a href="~/Student/Accomplishments" title="Yep, I did this"><i class="fas fa-trophy" style="color:#7a553b"></i></a>
            <a href="~/Student/Avatar" title="Avatar"><i class="fas fa-user" style="color:#7a553b"></i></a>
            <a href="~/Portal/Logout" title="Logout"><i class="fas fa-sign-out-alt" style="color:#7a553b"></i></a>
        </div>

        <div class="scroll-bar-horz">
            <p style="width:150%;">
                <img src="~/Content/img/plants-n-pop.png" style="width: 250px; padding: 20px;" alt="image name">
                <img src="~/Content/img/dj-flapp-icon.png" style="width: 250px; padding: 20px;" alt="image name">
                <img src="~/Content/img/kats-comix-icon.png" style="width: 250px; padding: 20px;" alt="image name">
                <img src="~/Content/img/man-cave-icon.png" style="width: 250px; padding: 20px;" alt="image name">
                <img src="~/Content/img/meow-cafe-icon.png" style="width: 250px; padding: 20px;" alt="image name">
                <img src="~/Content/img/nhus-moo-shoppe-icon.png" style="width: 250px; padding: 20px;" alt="image name">
                <img src="~/Content/img/sus-salon-icon.png" style="width: 250px; padding: 20px;" alt="image name">
                <img src="~/Content/img/bobs-bananas-icon.png" style="width: 250px; padding: 20px;" alt="image name">
            </p>
        </div>

    </div>
</div>
