
@{
    ViewBag.Title = "Marketplace";
}

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="~/Content/Login.css" />

<script>
    $(document).ready(
    function () {
        $('#studentnavicons a').hover(
            function () {
                $("#studentnaviconstext p").text($(this).attr("title"));
            },
	});
</script>

<div id="background">
    <div class="row text-center">
        <h1 class="student-header" align="center">Marketplace</h1>

        <div id="studentnavicons">
            <a href="~/Student/Default" title="Store"><i class="fas fa-store-alt" style="color:#7a553b"></i></a>
            <a href="~/Student/Community" title="Community"><i class="fas fa-map-signs" style="color:#7a553b"></i></a>
            <a href="~/Student/Market" title="Marketplace"><i class="fas fa-shopping-cart" style="color:#7a553b"></i></a>
            <a href="~/Student/Accomplishments" title="Yep, I did this"><i class="fas fa-trophy" style="color:#7a553b"></i></a>
            <a href="~/Student/Avatar" title="Avatar"><i class="fas fa-user" style="color:#7a553b"></i></a>
            <a href="~/Portal/Logout" title="Logout"><i class="fas fa-sign-out-alt" style="color:#7a553b"></i></a>
        </div>
        <img src="~/Content/img/wireframe_market.png" width="800"class="img-responsive" id="wireframe-student" />
    </div>
</div>










