
@{
    ViewBag.Title = "My Reports";
}

<link rel="stylesheet" type="text/css" href="~/Content/Login.css" />

<script>
function openCity(cityName) {
    var i;
    var x = document.getElementsByClassName("city");
    for (i = 0; i < x.length; i++) {
       x[i].style.display = "none";
    }
    document.getElementById(cityName).style.display = "block";
}
</script>


<div class="background">
    <div class="row text-center">
        <h2 align="center">My Report</h2>
        <div class="col-md-12">
            <div class="w3-bar w3-black">
                <button class="w3-bar-item w3-button" onclick="openCity('London')">London</button>
                <button class="w3-bar-item w3-button" onclick="openCity('Paris')">Paris</button>
                <button class="w3-bar-item w3-button" onclick="openCity('Tokyo')">Tokyo</button>
            </div>

            <div id="London" class="w3-container city">
                <h2>London</h2>
                <p class="student-text-small">Total hours: <span class="report-color">120h 45m</span>&nbsp;&nbsp;&nbsp;Average hours: <span class="report-color">5h 30m</span></p>
                <p style="font-size: 2.0vh">Best day(s): <span class="report-color">16th, 19th, 24th</span>&nbsp;&nbsp;&nbsp;Gone: <span class="report-color">9th, 26th </span></p>
                <img src="~/Content/img/StudentCalendar.png" width="800" class="img-responsive" id="wireframe-student" />
            </div>

            <div id="Paris" class="w3-container city" style="display:none">
                <h2>Paris</h2>
                <p>Paris is the capital of France.</p>
            </div>

            <div id="Tokyo" class="w3-container city" style="display:none">
                <h2>Tokyo</h2>
                <p>Tokyo is the capital of Japan.</p>
            </div>
        </div>

    </div>
</div>