
@{
    ViewBag.Title = "My Reports";
}

<link rel="stylesheet" type="text/css" href="~/Content/Login.css" />

<div id="background">
    <div class="row text-center">
        <h2 align="center">My Report</h2>
        <div class="btn-group" style="margin-right: 10px">
            <button class="btn">Month</button>
            <button class="btn">Year</button>
            <button class="btn">Stat</button>
        </div>
        <p class="student-text-small">Total hours: <span class="report-color">120h 45m</span>&nbsp;&nbsp;&nbsp;Average hours: <span class="report-color">5h 30m</span></p>
        <p style="font-size: 2.0vh">Best day(s): <span class="report-color">16th, 19th, 24th</span>&nbsp;&nbsp;&nbsp;Gone: <span class="report-color">9th, 26th </span></p>
        <img src="~/Content/img/StudentReportsWireframe.png" width="800" class="img-responsive" id="wireframe-student" />
    </div>
</div>